name: Zip file CI

on:
  push:
    branches: [main]
    tags:
      - 'v*'
  pull_request:
    branches: [main]

jobs:
  build:
    uses: ./.github/workflows/generic-zip-ci.yml
    with:
      artifact_id: "ttt-maps"
      files_prefix: "ttt_"